*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

html {
    font-family: 'Asap', sans-serif;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.hero {
    background-image: url("../images/img/background2.png");
    background-position: center;
    background-size: cover;
}

.hero h1 {
    max-width: 470px;
    font-size: 3.4375rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.05em;
    margin: 0 auto;
    color: #ffffff;
    padding-bottom: 30px;
    padding-top: 185px;
}

.hero p {
    font-size: 1.125rem;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    line-height: 1.667;
    letter-spacing: 0.05em;
    padding-bottom: 38px;
    margin: 0 auto;
}

.hero-background {
    background-color: rgba(0, 163, 228, 0.7);
}

.hero-background .header {
    max-width: 1110px;
    margin: 0 auto;
}

.hero-background .header .logo img {
    width: 100%;
    max-width: 158px;
    margin-top: 40px;
    padding-bottom: 72px;
}

.blue-background {
    background-color: rgba(0, 132, 184, 0.5);
    padding: 90px 0px 95px 0px;
    margin: 0 auto;
}

.blue-background p {
    font-size: 0.9375rem;
    font-weight: 400;
    justify-content: left;
    max-width: 1110px;
}

.btn {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.389;
    text-decoration: none;
    color: #ffffff;
    padding: 25px 48px 25px;
    background-color: rgba(73, 185, 230, 0.65);
    border-radius: 5px;
    border-width: 200px;
    min-height: 60px;
    display: inline-block;
}

.btn:hover {
    background-color: #e86010;
}

.phone {
    margin-bottom: -130px;
    max-width: 366px;
    align-items: flex-start;
}

.phone img {
    width: 100%;
}

.phone .dexter_phone {
    max-width: 244px;
}

.phone .dexter_phone img {
    width: 100%;
}

@keyframes slideFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes dexterAppear {
    0% {
        transform: translateY(700px);
    }
    50% {
        transform: translateY(700px);
    }
    100% {
        transform: translateY(0px);
    }
}

.phone {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    animation: slideFromTop 1.5s;
    padding-bottom: 20px;
    overflow: hidden;
}

.phone .dexter_phone {
    position: absolute;
    bottom: 132px;
    animation: dexterAppear 2.5s;
}

.second-block {
    background-color: #0084b8;
    padding: 105px 0px 120px 0px;
    margin: 0 auto;
}

.second-block .section-content {
    justify-content: space-between;
    margin-right: 135px;
    margin-left: 115px;
}

.second-block .section-content .column {
    width: calc(33.3333% - 105px);
    text-align: center;
}

.second-block .section-content .column img {
    max-width: 141px;
    width: 100%;
}

.second-block .section-content .column h2 {
    font-size: 3.4375rem;
    font-weight: 700;
    padding: 32px 0 22px;
    color: #ffffff;
    margin: 0 auto;
}

.second-block .section-content .column p {
    font-size: 1.125rem;
    line-height: 1.389;
    font-weight: 400;
    color: #ffffff;
    margin: 0 auto;
}

.third-block {
    background-color: #ffffff;
    margin: 0 auto;
}

.third-block .third_section_content .flex {
    justify-content: space-between;
}

.third-block .third_section_content .character1 {
    max-width: 297px;
}

.third-block .third_section_content .character1 img {
    padding: 200px 0px 200px 0px;
    width: 100%;
    margin-left: 55px;
}

.Dexter {
    max-width: 540px;
}

.Dexter h2 {
    font-size: 3.4375rem;
    font-weight: 700;
    padding: 150px 0px 42px;
    color: #000000;
    margin: 0 auto;
}

.Dexter p {
    font-size: 1.125rem;
    line-height: 1.667;
    font-weight: 400;
    color: #000000;
    margin: 0 auto;
    padding-bottom: 48px;
    padding-right: 115px;
}

.Dexter .btn {
    background-color: #49b9e6;
}

.character2 {
    max-width: 496px;
}

.character2 img {
    padding: 100px 0px 100px 0px;
    width: 100%;
}

.Ginger-Description {
    max-width: 520px;
}

.Ginger-Description h2 {
    font-size: 3.4375rem;
    font-weight: 700;
    padding: 155px 0px 42px;
    color: #000000;
    margin: 0 auto;
}

.Ginger-Description p {
    font-size: 1.125rem;
    line-height: 1.667;
    font-weight: 400;
    color: #000000;
    margin: 0 auto;
    padding-bottom: 42px;
}

.Ginger-Description .Mandark p {
    color: #00a3e4;
    padding-top: 28px;
    padding-left: 36px;
    padding-bottom: 0px;
}

.Intro {
    background-color: #ecf0f1;
    border-width: 490px;
    border-radius: 5px;
    padding: 39px 42px 0px 37px;
}

.Intro .Mandark-description p {
    font-style: italic;
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 0px;
    font-size: 1.125rem;
    line-height: 1.667;
    font-weight: 400;
}

.Intro .overlay {
    max-width: 105px;
}

.Intro .overlay img {
    margin-bottom: -55px;
    margin-left: 420px;
    width: 100%;
}

.fourth-block {
    background-color: #ecf0f1;
    padding: 137px 0px 147px 0px;
    margin: 0 auto;
}

.fourth-block .section-content {
    justify-content: space-between;
    margin-right: 95px;
    margin-left: 65px;
}

.fourth-block .section-content .column {
    width: calc(33.3333% - 67px);
    text-align: center;
    margin: 0 auto;
}

.fourth-block .section-content .column img {
    width: 100%;
}

.fourth-block .section-content .column h1 {
    font-size: 2.1875rem;
    font-weight: 700;
    padding: 43px 0 20px;
    color: #000000;
    margin: 0 auto;
}

.fourth-block .section-content .column h2 {
    font-size: 1.5625rem;
    line-height: 1.389;
    font-weight: 400;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding-bottom: 55px;
}

.fourth-block .section-content .column span {
    font-size: 1.125rem;
    line-height: 1.667;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

.fourth-block .section-content .column .btn {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.667;
    color: #00a3e4;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    padding-top: 40px;
    padding-bottom: 0px;
}

.fifth-block {
    background-color: #f1c40f;
    padding-top: 60px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

.fifth-block .section-content {
    margin: 0 auto;
}

.fifth-block .section-content h2 {
    font-size: 1.875rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding-bottom: 60px;
    margin: 0 auto;
}

.column {
    margin: 0 auto;
    justify-content: space-between;
}

.column .contacts {
    padding-top: 65px;
    text-align: left;
    font-size: 1.250rem;
}

.column .contacts .icon {
    display: inline-block;
    max-width: 42px;
}

.column .contacts a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding-top: 10px;
}

.column .contacts h4 {
    color: #ffffff;
    font-weight: 400;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

.column .contacts p {
    color: #ffffff;
    max-width: 200px;
    margin: 0 auto;
    padding-bottom: 0px;
    line-height: 1.5625;
    margin-bottom: -30px;
}

.darker-background {
    background-color: #d8af0c;
    background-size: cover;
    margin: 0 auto;
}

.darker-background i {
    color: #ffffff;
    font-size: 30px;
    margin: 0 auto;
    padding: 75px 25px 0px 0px;
    width: 100%;
}

.content .hidden-content {
    display: none;
}

.content.show-all-content .hidden-content {
    display: initial;
}

.content.show-all-content .btn {
    display: none;
}

@media all and (max-width: 1200px) {
    .logo img {
        margin-left: 100px;
    }
    .hero h1,
    .hero p {
        padding-right: 20px;
        margin-left: 100px;
    }
    .hero .phone {
        margin-right: 100px;
        margin-bottom: -75px;
    }
    .hero .btn {
        margin-left: 100px;
        padding-left: 50px;
    }
    .Dexter p {
        padding-right: 100px;
        margin-left: 100px;
    }
    .Dexter h2 {
        margin-left: 100px;
        margin-right: 10px;
        padding-top: 100px;
    }
    .Dexter .btn {
        margin-left: 100px;
        padding-left: 50px;
    }
    .blue-background p {
        margin-left: 130px;
    }
    .second-block .section-content .column h2 {
        font-size: 3.000rem;
    }
    .third-block .third_section_content
.character1 {
        max-width: 297px;
        margin-left: 100px;
    }
    .third-block .third_section_content
.character1 img {
        margin-left: 0px;
        padding-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
    .Ginger-Description p,
    .Ginger-Description h2 {
        padding-right: 100px;
    }
    .Ginger-Description .Intro {
        margin-right: 100px;
    }
    .Ginger-Description .Intro .Mandark-description p {
        padding-right: 0px;
    }
    .Ginger-Description .overlay img {
        margin-bottom: -55px;
        margin-left: -85px;
        width: 100%;
    }
    .character2 img {
        margin-right: 0px;
        padding-right: 70px;
        width: 100%;
    }
    .fifth-block .section-content h2 {
        margin: 0 auto;
    }
    .column .contacts span,
    .column .contacts h4,
    .column .contacts p,
    .column .contacts a {
        margin: 0 auto;
    }
    .darker-background .container {
        margin: 0px 100px 0px 100px;
    }
    .darker-background i {
        font-size: 30px;
    }
}

@media all and (max-width: 900px) {
    .logo img {
        margin-left: 70px;
    }
    .hero h1 {
        margin-left: 70px;
        font-size: 2.500rem;
        padding-right: 50px;
    }
    .hero p {
        padding-right: 70px;
        margin-left: 70px;
    }
    .hero .phone {
        margin-right: 70px;
        margin-bottom: -75px;
    }
    .hero .btn {
        margin-left: 70px;
        padding-left: 50px;
    }
    .second-block .section-content .column h2 {
        font-size: 2.500rem;
    }
    .second-block .section-content .column {
        width: calc(33.3333% - 55px);
    }
    .second-block .section-content .column img {
        max-width: 120px;
    }
    .Dexter p {
        padding-right: 70px;
        margin-left: 70px;
    }
    .Dexter h2 {
        margin-left: 70px;
        margin-right: 10px;
        padding-top: 100px;
        font-size: 2.500rem;
    }
    .Dexter .btn {
        margin-left: 70px;
        padding-left: 50px;
    }
    .blue-background p {
        margin-left: 70px;
    }
    .third-block .third_section_content
.character1 {
        max-width: 250px;
        margin-left: 70px;
    }
    .third-block .third_section_content
.character1 img {
        margin-top: 100px;
        padding: 190px 30px 100px 0px;
        width: 100%;
    }
    .Ginger-Description p {
        padding-right: 70px;
        font-size: 1.125rem;
    }
    .Ginger-Description h2 {
        padding-right: 70px;
        font-size: 2.500rem;
    }
    .Ginger-Description .Intro {
        margin-right: 70px;
    }
    .Ginger-Description .Intro .Mandark-description p {
        padding-right: 0px;
    }
    .Ginger-Description .overlay img {
        margin-bottom: -55px;
        margin-left: -85px;
        max-width: 90px;
    }
    .character2 {
        max-width: 400px;
    }
    .character2 img {
        padding-right: 70px;
        width: 100%;
    }
    .fourth-block .section-content {
        margin-right: 70px;
        margin-left: 70px;
    }
    .fourth-block .section-content .column h1 {
        font-size: 2.000rem;
    }
    .fourth-block .section-content .column h2 {
        font-size: 1.500rem;
    }
    .fourth-block .section-content .column span,
    .fourth-block .section-content .column .btn {
        font-size: 1.000rem;
    }
    .fifth-block .section-content h2 {
        padding-left: 0px;
    }
    .column .contacts span,
    .column .contacts h4,
    .column .contacts p,
    .column .contacts a {
        font-size: 1.000rem;
    }
    .darker-background .container {
        margin: 0px 70px 0px 70px;
    }
    .darker-background i {
        font-size: 25px;
    }
}

@media all and (max-width: 800px) {
    .hero-background .header .logo img {
        width: 100%;
        max-width: 120px;
        margin-left: 30px;
    }
    .hero h1 {
        margin-left: 30px;
        font-size: 2.000rem;
        padding-right: 0px;
        padding-bottom: 50px;
    }
    .hero p {
        padding-right: 10px;
        margin-left: 30px;
        font-size: 1.000rem;
    }
    .hero .phone {
        margin-right: 30px;
        padding-left: 20px;
        max-width: 300px;
    }
    .hero .phone .dexter_phone {
        max-width: 200px;
        bottom: 105px;
    }
    .hero .phone .dexter_phone img {
        width: 100%;
    }
    .hero .btn {
        margin-left: 30px;
        padding-left: 50px;
        font-size: 1.000rem;
        margin-bottom: 50px;
    }
    .second-block .section-content {
        margin: 0 auto;
    }
    .second-block .section-content .column h2 {
        font-size: 2.000rem;
    }
    .second-block .section-content .column {
        width: calc(33.3333% - 55px);
    }
    .second-block .section-content .column img {
        max-width: 100px;
    }
    .second-block .section-content .column p {
        font-size: 1.000rem;
    }
    .second-block {
        padding-bottom: 60px;
        padding-top: 60px;
    }
    .Dexter p {
        margin: 0 auto;
        padding-left: 30px;
        text-align: center;
        padding-right: 0px;
        font-size: 1.000rem;
    }
    .Dexter h2 {
        margin: 0 auto;
        padding-top: 50px;
        font-size: 2.000rem;
        text-align: center;
        padding-left: 50px;
    }
    .Dexter .btn {
        margin-left: 180px;
        padding-left: 50px;
    }
    .blue-background {
        padding-bottom: 30px;
        padding-top: 70px;
    }
    .blue-background p {
        margin-left: 30px;
        font-size: 1.000rem;
    }
    .third-block .container {
        max-width: 600px;
    }
    .third-block .third_section_content .flex {
        display: block;
    }
    .third-block .third_section_content
.character1 {
        margin-left: 175px;
    }
    .third-block .third_section_content
.character1 img {
        padding-right: 20px;
        width: 100%;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .Ginger-Description {
        max-width: 600px;
    }
    .Ginger-Description p {
        padding-right: 0px;
        font-size: 1.000rem;
        padding-left: 0px;
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
    }
    .Ginger-Description h2 {
        font-size: 2.000rem;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
    .Ginger-Description .Intro {
        margin-left: 30px;
        margin-right: 30px;
    }
    .Ginger-Description .Intro .Mandark-description p {
        padding-right: 0px;
        padding-left: 0px;
        font-size: 1.000rem;
    }
    .Ginger-Description .Mandark p {
        text-align: left;
        margin-left: 70px;
    }
    .Ginger-Description .overlay img {
        margin-bottom: -55px;
        margin-left: -55px;
        max-width: 90px;
    }
    .character2 {
        max-width: 420px;
    }
    .character2 img {
        padding-right: 40px;
        padding-left: 40px;
        margin-left: 100px;
        width: 100%;
    }
    .fourth-block {
        padding-top: 50px;
        padding-right: 0px;
        padding-bottom: 50px;
    }
    .fourth-block .section-content.flex {
        display: block;
        margin-right: 30px;
        margin-left: 30px;
    }
    .fourth-block .section-content .column {
        width: 100%;
    }
    .fourth-block .section-content .column img {
        width: 100%;
        margin-top: 20px;
        padding: 50px 200px 50px 200px;
    }
    .fourth-block .section-content .column h1 {
        font-size: 2.000rem;
    }
    .fourth-block .section-content {
        margin: 0px 30px 0px 30px;
    }
    .column h2 {
        font-size: 1.500rem;
        padding-bottom: 20px;
    }
    .fourth-block .section-content .column span {
        font-size: 1.000rem;
        line-height: 2.500;
    }
    .fourth-block .section-content .column .btn {
        font-size: 1.000rem;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        line-height: 1.000;
    }
    .fifth-block .section-content {
        margin: 0 auto;
        padding: 0px 30px 50px;
    }
    .fifth-block .section-content h2 {
        margin: 0 auto;
        padding: 0;
        font-size: 1.500rem;
        text-align: center;
    }
    .column .contacts span,
    .column .contacts h4,
    .column .contacts p,
    .column .contacts a {
        font-size: 0.900rem;
        padding-right: 10px;
        margin: 0 auto;
    }
    .darker-background .container {
        margin: 0px 30px 0px 30px;
    }
    .darker-background i {
        font-size: 25px;
    }
}

@media all and (max-width: 630px) {
    .hero .phone {
        margin: 0 auto;
        padding-left: 0px;
        max-width: 300px;
    }
    .hero .phone img {
        width: 100%;
    }
    .hero .phone .dexter_phone {
        max-width: 200px;
        bottom: 112px;
    }
    .hero .phone .dexter_phone img {
        width: 100%;
    }
}

@media all and (max-width: 600px) {
    .hero .phone {
        margin: 0 auto;
        padding-left: 0px;
        max-width: 300px;
    }
    .hero .phone img {
        width: 100%;
    }
    .hero .phone .dexter_phone {
        max-width: 200px;
        bottom: 111px;
    }
    .hero .phone .dexter_phone img {
        width: 100%;
    }
    .flex {
        display: block;
    }
    .hero-background .header .logo img {
        width: 100%;
        max-width: 120px;
        margin: 0 auto;
        text-align: center;
        margin-top: 50px;
    }
    .hero {
        margin: 0 auto;
        text-align: center;
    }
    .hero h1 {
        padding-top: 80px;
        font-size: 1.500rem;
        font-weight: 700;
        margin-right: 0px;
        margin-left: 0px;
        max-width: 100%;
    }
    .hero p {
        font-size: 1.000rem;
        padding-right: 0;
        margin: 0 auto;
    }
    .hero .btn {
        padding-left: 50px;
        font-size: 1.000rem;
        margin: 0px 0px 50px 0px;
    }
    .second-block .section-content {
        margin: 0 auto;
    }
    .second-block .section-content .column {
        width: 100%;
    }
    .second-block .section-content .column h2 {
        font-size: 1.500rem;
        padding: 20px 0px 20px;
    }
    .second-block .section-content .column img {
        width: 100%;
    }
    .second-block .section-content .column p {
        font-size: 1.000rem;
        padding-bottom: 40px;
    }
    .second-block {
        padding-bottom: 60px;
        padding-top: 60px;
    }
    .Dexter {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }
    .Dexter p {
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
        font-size: 1.000rem;
    }
    .Dexter h2 {
        margin: 0 auto;
        padding-top: 50px;
        font-size: 2.000rem;
        text-align: center;
        padding-left: 0px;
    }
    .Dexter .btn {
        padding-left: 50px;
        font-size: 1.000rem;
        margin: 0px 0px 50px 0px;
    }
    .blue-background {
        padding-bottom: 0px;
        padding-top: 70px;
        margin: 0 auto;
    }
    .blue-background p {
        font-size: 1.000rem;
        padding-bottom: 70px;
    }
    .third-block .container {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }
    .third-block .third_section_content .flex {
        display: block;
    }
    .third-block .third_section_content
.character1 {
        margin: 0 auto;
        text-align: center;
    }
    .third-block .third_section_content
.character1 img {
        padding-right: 0px;
        width: 100%;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .Ginger-Description {
        margin: 0 auto;
        text-align: center;
    }
    .Ginger-Description p {
        margin-right: 50px;
        font-size: 1.000rem;
        margin-left: 50px;
        padding: 0px 20px;
        text-align: center;
        padding-bottom: 50px;
    }
    .Ginger-Description h2 {
        font-size: 2.000rem;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
    .Ginger-Description .Intro {
        margin-left: 50px;
        margin-right: 50px;
    }
    .Ginger-Description .Intro .Mandark-description p {
        padding-right: 0px;
        padding-left: 0px;
        font-size: 1.000rem;
        margin-left: 0px;
        margin-right: 0px;
    }
    .Ginger-Description .Mandark p {
        text-align: left;
        padding-left: 150px;
        padding-right: 0px;
        margin: 0 auto;
    }
    .Ginger-Description .overlay img {
        margin-bottom: -55px;
        margin-left: -55px;
        max-width: 90px;
    }
    .character2 {
        margin: 0 auto;
        text-align: center;
    }
    .character2 img {
        width: 100%;
        padding: 80px 40px;
        margin-left: 0px;
    }
    .fourth-block {
        padding-top: 50px;
        padding-right: 0px;
        padding-bottom: 50px;
    }
    .fourth-block .section-content.flex {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .fourth-block .section-content .column {
        margin: 0 auto;
        max-width: 320px;
    }
    .fourth-block .section-content .column img {
        width: 100%;
        margin-top: 20px;
        padding: 20px 40px 30px 40px;
    }
    .fourth-block .section-content .column h1 {
        font-size: 1.500rem;
    }
    .fourth-block .section-content .column h2 {
        font-size: 1.200rem;
    }
    .fourth-block .section-content {
        text-align: center;
    }
    .column h2 {
        font-size: 1.500rem;
        padding-bottom: 20px;
    }
    .fourth-block .section-content .column span {
        font-size: 1.000rem;
        line-height: 2.500;
    }
    .fourth-block .section-content .column .btn {
        font-size: 1.000rem;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        line-height: 1.000;
    }
    .fifth-block .section-content {
        margin: 0 auto;
        padding: 0px 30px 50px;
    }
    .fifth-block .section-content h2 {
        margin: 0 auto;
        padding: 0;
        font-size: 1.500rem;
        text-align: center;
    }
    .column .contacts {
        padding-top: 20px;
        text-align: center;
        font-size: 1.000rem;
    }
    .column .contacts span,
    .column .contacts h4,
    .column .contacts a {
        font-size: 0.900rem;
        padding-right: 10px;
        font-size: 1.000rem;
    }
    .column .contacts p {
        text-align: center;
        font-size: 1.000rem;
    }
    .darker-background .container .flex {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .darker-background i {
        font-size: 30px;
    }
}
/*# sourceMappingURL=style.css.map */